body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-position: center;
    background: #85a878;
    cursor: url('../assets/cursor.png'), auto;
}

.header-container {
    background-image: url('../assets/background.jpg');
    margin: 0;
}

.header-top {
    background-color: #107d01;
    padding: 10px;
}

@font-face {
    font-family: the-bold-font;
    src: url(../assets/the_bold_font.otf);
}

.logo {
    text-align: center;
    font-family: the-bold-font;
    font-size: 40px;
    background: linear-gradient(#14a102, #04d91d, #03f41f);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #000000;
}

.search-bar-container {
    text-align: center;
    margin-top: 20px;
}

.search-bar-container input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 250px;
}

.search-bar-container button {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.redirect-nav {
    margin-top: 5px;
    background-color: #107d01;
    padding: 5px;
}

.redirect-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.redirect-button {
    margin: 0 10px;
    cursor: pointer;
}

.redirect-button a {
    color: #ffffff;
    text-decoration: none;
}

.hero-image {
    text-align: center;
    margin-top: 20px;
}

.hero-image img {
    max-width: 100%;
    height: auto;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

.page-content-container {
    padding-bottom: 50px;
}

.welcome-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #85b274;
    border: 2px solid #5d7754;
    text-align: center;
    margin-bottom: 20px;
}

.welcome-panel img {
    max-width: 100px;
    margin-bottom: 20px;
}

.welcome-panel h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.welcome-panel p {
    font-size: 1.2em;
    color: #343333;
}

footer {
    background-color: #107d01;
    position: absolute;
    bottom: 0;
    width: 100%;
}


footer {
    background-color: #107d01;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer .footer-container p {
    color: #fff;
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .page-content-container {
        padding: 20px;
        padding-bottom: 50px;
    }
}


/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .logo {
        font-size: 60px;
        -webkit-text-stroke-width: 4px;
    }

    .search-bar-container input[type="text"] {
        width: 50%;
    }

    .redirect-nav {
        margin-top: 20px;
    }

    .redirect-button {
        font-size: 180%;
        margin: 0 20px;
    }

    .page-content-container {
        padding: 10px;
        padding-bottom: 70px;
    }

}

/* Mobile */
@media screen and (max-width: 767px) {
    .logo {
        font-size: 250%;
    }

    .search-bar-container input[type="text"] {
        width: 50%;
    }

    .redirect-button {
        font-size: 80%;
    }

    .page-content-container {
        padding: 10px;
        padding-bottom: 80px;
    }
}