body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-position: center;
    background: #85A878;
    cursor: url('../assets/cursor.png'), auto;
}

.header-container {
    background-image: url('../assets/background.jpg');
    margin: 0;
}

.header-top {
    background-color: #107d01;
    padding: 10px;
}

@font-face {
    font-family: the-bold-font;
    src: url(../assets/the_bold_font.otf);
}

.logo {
    text-align: center;
    font-family: the-bold-font;
    font-size: 40px;
    background: linear-gradient(#14a102, #04d91d, #03f41f);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #000000;
}

.search-bar-container {
    text-align: center;
}

.search-bar-container input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 250px;
}

.search-bar-container button {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


.redirect-nav {
    margin-top: 5px;
    background-color: #107d01;
    padding: 5px;
}

.redirect-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.redirect-button {
    margin: 0 10px;
    cursor: pointer;
}

.redirect-button a {
    color: #ffffff;
    text-decoration: none;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

#password-error {
    color: red;
    margin-top: 10px;
}

.signup-section {
    padding-bottom: 5rem;
}

.container {
    background-color: #f0f0f0;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 25%;
    margin: 0 auto;
    padding: 30px;
    margin-top: 35px;
}

.container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    cursor: url('../assets/cursor.png'), auto;
}

.container .name-container {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 15px;
}

.container .name-container .first-name-container {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.container .name-container .last-name-container {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.name-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    cursor: url('../assets/cursor.png'), auto;
}

.container .name-container input[type="text"],
.container .name-container input[type="email"],
.container .name-container input[type="password"],
.container .name-container select {
    text-align: center;
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.container .email-container {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px;
}

.email-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    cursor: url('../assets/cursor.png'), auto;
}

.container .email-container input[type="text"],
.container .email-container input[type="email"],
.container .email-container input[type="password"],
.container .email-container select {
    text-align: center;
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group select {
    text-align: center;
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group select {
    appearance: none;
}

.form-group input[type="submit"] {
    width: 93%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.form-group input[type="submit"]:hover {
    background-color: #0056b3;
}

.container p {
    text-align: center;
    margin-top: 20px;
}

.container p a {
    color: #007bff;
    text-decoration: none;
}

.container p a:hover {
    text-decoration: underline;
}

footer {
    background-color: #107d01;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer .footer-container p {
    color: #fff0f0;
    text-align: center;
}

/* Desktop */
@media screen and (min-width: 1024px) {
    .container {
        width: 60%;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .logo {
        font-size: 60px;
        -webkit-text-stroke-width: 4px;
    }

    .search-bar-container input[type="text"] {
        width: 50%;
    }

    .redirect-nav {
        margin-top: 20px;
    }

    .redirect-button {
        font-size: 180%;
        margin: 0 20px;
    }

    .container {
        width: 80%;
    }

    .footer-container p {
        font-size: 150%;
    }
}

/* Mobile */
@media screen and (max-width: 767px) {
    .logo {
        font-size: 250%;
    }

    .search-bar-container input[type="text"] {
        width: 50%;
    }

    .redirect-button {
        font-size: 80%;
    }

    .container {
        width: 80%;
    }

    .container .name-container .first-name-container {
        width: 45%;
    }

    .container .name-container .last-name-container {
        width: 45%;
    }

    .footer-container p {
        font-size: 80%
    }
}