body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-position: center;
    background: #85A878;
    cursor: url('assets/cursor.png'), auto;
}

.header-container {
    background-image: url('assets/background.jpg');
    margin: 0;
}

.header-top {
    background-color: #107d01;
    padding: 10px;
}

@font-face {
    font-family: the-bold-font;
    src: url(assets/the_bold_font.otf);
}

.logo {
    text-align: center;
    font-family: the-bold-font;
    font-size: 40px;
    background: linear-gradient(#14a102, #04d91d, #03f41f);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #000000;
}

.search-bar-container {
    text-align: center;
}

.search-bar-container input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 250px;
}

.search-bar-container button {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


.redirect-nav {
    margin-top: 5px;
    background-color: #107d01;
    padding: 5px;
}

.redirect-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.redirect-button {
    margin: 0 10px;
    cursor: pointer;
}

.redirect-button a {
    color: #ffffff;
    text-decoration: none;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

.page-content-container {
    padding-bottom: 5rem;
}

.cell:hover {
    transform: scale(1.01);
    box-shadow: 2px 2px 2px 2px #666666;
}

.table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table-row {
    display: flex;
    justify-content: center;
}

.cell {
    margin-top: 1.36986301369863vh;
    background: #DFF8D5;
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 2.5%;
    margin-right: 5%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    border-radius: 2%;
}

.cell .row1 {
    display: flex;
    flex-direction: row;
    text-align: left;
    width: 100%;
}

.cell .row1 div {
    width: 50%;
    border-radius: 2%;
    padding-left: 1.3020833333333333vw;
}

.cell .row2 {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
}

.cell .row2 .fourth {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
}

.photo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-right: 0.5859375vw;
}

.photo img {
    max-width: 100%;
    max-height: 100%;
}

.favorite-button {
    display: none;
    width: 20vw;
    height: 10vh;
}

.like-button {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    border-radius: 10px;
    box-shadow: 0 6px black;
    background-color: rgb(207, 255, 207);
    padding: 4px 4px;
    transition: all 0.3s ease;
    width: 20vw;
    height: 10vh;
    background-size: cover;
    border: 1px solid #000000;
}

.like-button:hover {
    color: green;
    box-shadow: 0 0 0.6510416666666666vw 0.410958904109589vh rgba(255, 255, 255, 0.5);
}

.like-button:active {
    box-shadow: 0 5px #666;
    transform: translateY(3%);
}

.favorite-label {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    padding: 0%;
    width: 20vw;
    height: 10vh;
}

.like_empty {
    display: block;
    position: relative;
}

.like_fill {
    display: none;
    position: relative;
}

.like0,
.like5 {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    top: -100%;
    bottom: 100%;
    left: -15%;
    width: 4vw;
    height: 10.136986301369863vh;
    background-size: contain;
}

.like_text {
    display: flex;
    justify-content: right;
    align-content: start;
    position: relative;
    margin-left: 1%;
    padding-left: 25%;
    border: 2px solid pink;
}


.favorite-button:checked+.favorite-label .like_empty {
    display: none;
}

.favorite-button:checked+.favorite-label .like_fill {
    display: block;
}


.like0 {
    background-size: cover;
    animation: emptyLike 1s forwards;
}

.like5 {
    background-size: cover;
    animation: fillLike 1s forwards;
}

@keyframes fillLike {
    0% {
        background-image: url('assets/like_outline.png');
    }

    20% {
        background-image: url('assets/like_outline.png');
    }

    40% {
        background-image: url('assets/like_filled_quater-removebg-preview.png');
    }

    60% {
        background-image: url('assets/like_filled_half-removebg-preview.png');
    }

    80% {
        background-image: url('assets/like_filled_75_v2-removebg-preview.png');
    }

    100% {
        background-image: url('assets/like_filled_v2-removebg.png');
    }
}

@keyframes emptyLike {
    0% {
        background-image: url('assets/like_filled_v2-removebg.png');
    }

    20% {
        background-image: url('assets/like_filled_75_v2-removebg-preview.png');
    }

    40% {
        background-image: url('assets/like_filled_half-removebg-preview.png');
    }

    60% {
        background-image: url('assets/like_filled_quater-removebg-preview.png');
    }

    80% {
        background-image: url('assets/like_outline.png');
    }

    100% {
        background-image: url('assets/like_outline.png');
    }
}

footer {
    background-color: #107d01;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer .footer-container p {
    color: #fff0f0;
    text-align: center;
}

/* Desktop */
@media screen and (min-width: 1024px) {
    .like-button {
        width: 288px;
        height: 96px;
    }

    .favorite-label {
        width: 384px;
        height: 96px;
    }

    .like0,
    .like5 {
        width: 72px;
        height: 90px;
    }

}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .logo {
        font-size: 60px;
        -webkit-text-stroke-width: 4px;
    }

    .search-bar-container input[type="text"] {
        width: 50%;
    }

    .redirect-nav {
        margin-top: 20px;
    }

    .redirect-button {
        font-size: 180%;
        margin: 0 20px;
    }

    .footer-container p {
        font-size: 150%;
    }

    .table-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cell {
        margin-top: 1.36986301369863vh;
        background: #DFF8D5;
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        margin-top: 2.5%;
        margin-bottom: 2.5%;
        border-radius: 2%;
    }

    .cell .row2 .fourth {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 5%;
    }

    .like-button {
        width: 288px;
        height: 96px;
    }

    .favorite-label {
        width: 384px;
        height: 96px;
    }

    .like0,
    .like5 {
        width: 70px;
        height: 90px;
    }

}

/* Mobile */
@media screen and (max-width: 767px) {
    .logo {
        font-size: 250%;
    }

    .search-bar-container input[type="text"] {
        width: 50%;
    }

    .redirect-button {
        font-size: 80%;
    }

    .footer-container p {
        font-size: 80%
    }

    .table-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cell {
        margin-top: 5%;
        background: #DFF8D5;
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        margin-top: 2.5%;
        margin-bottom: 5%;
        border-radius: 2%;
        margin: 10%;
    }

    .cell .row1 {
        flex-direction: column;
        padding-bottom: 10%;
    }

    .cell .row1 div {
        width: 90%;
        border-radius: 2%;
        padding: 0%;
        margin: 0 auto;
    }

    .cell .row2 .fourth {
        width: 100%;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 5%;
    }

    .like-button {
        width: 270px;
        height: 96px;
    }

    .favorite-label {
        width: 374px;
        height: 96px;
    }

    .like0,
    .like5 {
        width: 55px;
        height: 70px;
    }
}