.header {
    background-color: #379e36;
    margin: 0px;
}

.header-top {
    background-color: #107d01;
    padding: 10px;
}

.logo {
    text-align: center;
}

.search-bar-container {
    text-align: center;
}

.search-bar-container input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 300px;
}

.search-bar-container button {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


.redirect-nav {
    margin-top: 10px;
    background-color: #107d01;
    padding: 5px;
}

.redirect-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.redirect-button {
    margin: 0 10px;
    cursor: pointer;
}

.redirect-button a {
    color: #ffffff;
    text-decoration: none;
}