body {
    margin: 0;
    padding: 0;
    background-position: center;
    background: #85A878;
    background-position: cover;
}

.header-container {
    background-image: url('assets/background.jpg');
    margin: 0;
}

.header-top {
    background-color: #107d01;
    padding: 10px;
}

@font-face {
    font-family: the-bold-font;
    src: url(assets/the_bold_font.otf);
}

.logo {
    text-align: center;
    font-family: the-bold-font;
    font-size: 40px;
    background: linear-gradient(#14a102, #04d91d, #03f41f);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #000000;
}

.search-bar-container {
    text-align: center;
}

.search-bar-container input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 250px;
}

.search-bar-container button {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


.redirect-nav {
    margin-top: 5px;
    background-color: #107d01;
    padding: 5px;
}

.redirect-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.redirect-button {
    margin: 0 10px;
    cursor: pointer;
}

.redirect-button a {
    color: #ffffff;
    text-decoration: none;
}

.login-section {
    background-color: #f0f0f0;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 350px;
    margin: 0 auto;
    padding: 30px;
    margin-top: 35px;
}

.login-section h2 {
    margin-bottom: 15px;
}

.login-section label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.login-section input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 350px;
    margin-bottom: 20px;
}

.login-section button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

footer {
    background-color: #107d01;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
}

footer .footer-container p {
    color: #fff0f0;
}

/* Desktop */
@media screen and (min-width: 1024px) {
    body {
        width: 100%;
    }

    .header-container {
        margin: 0;
    }

    .header-top {
        padding: 10px;
    }

    .logo {
        font-size: 40px;
    }

    .search-bar-container input[type="text"] {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 10px;
        width: 250px;
    }

    .search-bar-container button {
        padding: 5px 10px;
        border-radius: 10px;
    }

    .redirect-nav {
        margin-top: 10px;
        background-color: #107d01;
        padding: 5px;
    }

    .redirect-button {
        margin: 0 10px;
    }

    .login-section {
        background-color: #f0f0f0;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 350px;
        margin: 0 auto;
        padding: 30px;
        margin-top: 35px;
    }

    .login-section h2 {
        margin-bottom: 15px;
    }

    .login-section label {
        margin-bottom: 5px;
    }

    .login-section input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
        width: 325px;
        margin-bottom: 20px;
    }

    .login-section button {
        padding: 10px 20px;
        border-radius: 3px;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        width: 100%;
    }

    .header-container {
        margin: 0;
    }

    .header-top {
        padding: 20px;
    }

    .logo {
        font-size: 60px;
        -webkit-text-stroke-width: 4px;
    }

    .search-bar-container input[type="text"] {
        padding: 10px;
        border: 2px solid #ccc;
        border-radius: 20px;
        width: 400px;
    }

    .search-bar-container button {
        padding: 10px 20px;
        border-radius: 20px;
    }

    .redirect-nav {
        margin-top: 20px;
        background-color: #107d01;
        padding: 10px;
    }

    .redirect-button {
        font-size: 180%;
        margin: 0 20px;
    }

    .login-section {
        border-radius: 5px;
        width: 60%;
        margin: 0 auto;
        padding: 60px;
        margin-top: 35px;
    }

    .login-section h2 {
        font-size: 40px;
        margin-bottom: 30px;
    }

    .login-section label {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .login-section input {
        padding: 20px;
        border: 2px solid #ccc;
        border-radius: 6px;
        width: 90%;
        margin-bottom: 40px;
    }

    .login-section button {
        padding: 20px 40px;
        border-radius: 6px;
    }

    .footer-container {
        overflow: hidden;
    }

    .footer-container p {
        font-size: 150%;
    }
}

/* Mobile */
@media screen and (max-width: 767px) {
    body {
        width: 100%;
        margin-bottom: 20px;
    }

    .header-container {
        margin: 0;
    }

    .header-top {
        padding: 10px;
    }

    .logo {
        font-size: 250%;
    }

    .search-bar-container input[type="text"] {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 10px;
        width: 50%;
    }

    .search-bar-container button {
        padding: 5px 10px;
        border-radius: 10px;
    }

    .redirect-nav {
        margin-top: 10px;
        background-color: #107d01;
        padding: 5px;
    }

    .redirect-button {
        font-size: 80%;
        margin: 0 10px;
    }

    .login-section {
        width: 70%;
        padding: 30px;
        margin-top: 10px;
    }

    .login-section h2 {
        margin-bottom: 15px;
    }

    .login-section label {
        margin-bottom: 5px;
    }

    .login-section input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
        width: 90%;
        margin-bottom: 20px;
    }

    .login-section button {
        padding: 10px 20px;
        border-radius: 3px;
    }

    .footer-container p {
        font-size: 80%
    }
}