body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.header {
    background-image: url('assets/background.jpg');
    margin: 0px;
}

.header-top {
    background-color: #107d01;
    padding: 10px;
}

@font-face {
    font-family: the-bold-font;
    src: url(assets/the_bold_font.otf);
}

.logo {
    text-align: center;
    font-family: the-bold-font;
    font-size: 40px;
    background: -webkit-linear-gradient(#14a102, #04d91d, #03f41f);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000000;
}

.search-bar-container {
    text-align: center;
}

.search-bar-container input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 300px;
}

.search-bar-container button {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


.redirect-nav {
    margin-top: 10px;
    background-color: #107d01;
    padding: 5px;
}

.redirect-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.redirect-button {
    margin: 0 10px;
    cursor: pointer;
}

.redirect-button a {
    color: #ffffff;
    text-decoration: none;
}

footer {
    background-color: #107d01;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer .footer-container p {
    color: #fff0f0;
}