body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.header {
    background-color: #28a745;
    color: #ffffff;
    padding: 10px 20px;
}

.container {
    justify-content: flex-start;
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

.logo-container {
    justify-content: flex-start;
    display: flex;
    align-items: center;
}

.logo {
    font-size: 50px;
    margin: 0;
    margin-right: 20px; 
}

.search-bar {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #28a745;
    border-radius: 5px;
    font-size: 16px;
}

.sections-container {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section {
    width: calc(33.33% - 20px); 
    background-color: #ffffff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

.section h2 {
    margin-top: 0;
}
