body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.header {
    background-color: #28a745;
    color: #ffffff;
    padding: 0px;
    margin: 0px;
    border: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.container {
    max-width: 100px auto;
    margin: 20px auto;
    padding: 0 20px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 50px;
    margin: 0px;
    padding: 0px;
    margin-right: 20px;
}

.search-bar {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #28a745;
    border-radius: 5px;
    font-size: 16px;
    margin: 0px;
    margin-left: 40px;
}

.header-button {
    background-color: transparent;
    color: #ffffff;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    font-size: 30px;
    
}

.header-button:hover {
    text-decoration: underline;
}

.sections-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}

.section {
    width: calc(33.33% - 20px);
    background-color: #ffffff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

.section h2 {
    margin-top: 0;
}
